<div>
  <table>
    <tr>
      <td>
        Office:
      </td>
      <td>{{officeStatus.OfficeName}}</td>
    </tr>
    <tr>
      <td>
        Building:
      </td>
      <td>{{officeStatus.BuildingName}}</td>
    </tr>
    <tr>
      <td>
        People:
      </td>
      <td>{{officeStatus.Users}}</td>
    </tr>
    <tr>
      <td>
        Ocupied Desk Count:
      </td>
      <td>{{officeStatus.OcupiedDeskCount}}</td>
      <td>
        Usable Desk Count:
      </td>
      <td>{{officeStatus.UsableDeskCount}}</td>
    </tr>
    <tr>
      <td>
        Free Desk Count:
      </td>
      <td>{{officeStatus.FreeDeskCount}}</td>
      <td>
        Ocupation Percentage:
      </td>
      <td>{{officeStatus.OcupationPercentage}}</td>
    </tr>
  </table>
</div>
