<div>
  <table>
    <tr>
      <td>
        Office:
      </td>
      <td>{{officeStatus.officeName}}</td>
    </tr>
    <tr>
      <td>
        Building:
      </td>
      <td>{{officeStatus.buildingName}}</td>
    </tr>
    <tr>
      <td>
        People:
      </td>
      <td *ngfor = "let user of officeStatus.users">{{user}}</td>
    </tr>
    <tr>
      <td>
        Ocupied Desk Count:
      </td>
      <td>{{officeStatus.ocupiedDeskCount}}</td>
      <td>
        Usable Desk Count:
      </td>
      <td>{{officeStatus.usableDeskCount}}</td>
    </tr>
    <tr>
      <td>
        Free Desk Count:
      </td>
      <td>{{officeStatus.freeDeskCount}}</td>
      <td>
        Ocupation Percentage:
      </td>
      <td>{{officeStatus.ocupationPercentage}}</td>
    </tr>
  </table>
</div>
