<div class="input-group mb-3">
  <input type="text"
         class="form-control"
         placeholder="Search by Name"
         [(ngModel)]="Name" />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="selectUsers()">
      Search
    </button>
  </div>
</div>
<ul>
  <li *ngFor="let user of userStatus">
    <button type="button" (click)="onSelect(user)">
      <div>
        <span>{{user.name}} </span>
        <span>{{user.surname}}</span>
      </div>
      <div *ngIf="selectedUser && selectedUser == user">
        <div>
          building: {{selectedUser.buildingName}}
          office: {{selectedUser.office}}
          Remote: {{selectedUser.remoteStatus}}
        </div>
      </div>
    </button>
  </li>
</ul>
<pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true">
</pagination-controls>
Items per Page:
<select (change)="handlePageSizeChange($event)">
  <option *ngFor="let size of pageSizes" [ngValue]="size">
    {{ size }}
  </option>
</select>

<div *ngIf="selectedUser">

  <h2>{{selectedUser.name}} Details</h2>
  <div>
    building: {{selectedUser.buildingName}}
    office: {{selectedUser.office}}
    Remote: {{selectedUser.remoteStatus}}
  </div>
</div>
